.Header {
  background-color: #00a9e8;
  color: white;
  padding: 50px 20px 20px;
  display: flex;
}
.Header__Title {
  font-size: 2em;
  flex: 1;
}
.Header__Settings {
  display: flex;
}
:local .Button {
  margin: 0 10px;
}
:local .LoggedIn {
  display: flex;
  align-items: center;
}
