.Button {
  border: 2px solid white;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  padding: 8px;
  font-size: 1rem;
  &:hover {
    background-color: white;
    color: grey;
    cursor: pointer;
  }
}
