:local .Button {
  border-radius: 3px;
  background-color: transparent;
  padding: 8px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  min-width: 90px;
  &:hover {
    cursor: pointer;
  }
}
:local .ButtonWhite {
  border: 2px solid white;
  color: white;
  &:hover {
    background-color: white;
    color: grey;
  }
}
:local .ButtonBlue {
  border: 2px solid #00a9e8;
  color: #00a9e8;
  &:hover {
    background-color: #00a9e8;
    color: white;
  }
}
:local .ButtonRed {
  border: 2px solid red;
  color: red;
  &:hover {
    background-color: red;
    color: white;
  }
}
:local .ButtonBlack {
  border: 2px solid #222;
  color: #222;
  &:hover {
    background-color: #222;
    color: white;
  }
}
