:local .Button {
  border-radius: 3px;
  background-color: transparent;
  padding: 8px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  min-width: 90px;
  &:hover {
    cursor: pointer;
  }
}
:local .ButtonBig {
  padding: 15px 25px;
}

$buttons: (White, white, black),
          (Blue, #00a9e8, white),
          (Red, red, white),
          (Black, #222, white),
          (Green, #6cc644, white);

@each $button, $color, $hoverColor in $buttons {
  :local .Button#{$button} {
    border: 2px solid $color;
    color: $color;
    &:hover {
      background-color: $color;
      color: $hoverColor;
    }
  }
  :local .Button#{$button}Inverse {
    background-color: $color;
    color: $hoverColor;
    border: none;
    &:hover {
      background-color: lighten($color, 10%)
    }
  }
}
