:local .ProjectSettings {
  padding: 20px;
  background-color: rgba(255,255,255,0.4);
}
:local .Output {
  margin: 10px 0;
  padding: 10px;
  background: black;
  color: white;
  font-family: monospace;
}
:local .Top {
  display: flex;
}
:local .Close {
  padding: 10px;
}
:local .Info {
  flex: 1
}
